                            <img class="popupTrigger" id="help-ADD_TO_EXISTING_TASKLIST" src="/static/help.png" alt="Display help">
                            <div class="popupContent" id="help-ADD_TO_EXISTING_TASKLIST-content">
                                <img class="popupClose" src="/static/close.png" alt="Close">
                                <div class="clear">
                                    For each tasklist in the imported data;
                                    <ol>
                                        <li>
                                            If the tasklist for an imported tasks already exists;
                                            <ul>
                                                <li>
                                                    Imported tasks will be inserted at the top of the list (that is, before existing tasks in the Google tasks view).
                                                </li>
                                                <li>
                                                    NOTE: All tasks in the imported data will be created, even if that task already exists. (It is not possible to check for duplicate tasks.)
                                                </li>
                                            </ul>
                                        <li>
                                            If the tasklist does not exist;
                                            <ul>
                                                <li>
                                                    Create a new tasklist containing only the imported tasks.
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                            </div>
