                            <img class="popupTrigger" id="help-USE_OWN_SUFFIX" src="/static/help.png" alt="Display help">
                            <div class="popupContent" id="help-USE_OWN_SUFFIX-content">
                                <img class="popupClose" src="/static/close.png" alt="Close">
                                <div class="clear medium-break">
                                    For each tasklist in the imported data, create a new tasklist (with the suffix)
                                    containing only the imported tasks for that tasklist.
                                </div>
                                <div class="medium-break">
                                    For example, if the imported task is in a tasklist name "Shopping" and you choose a suffix "New", 
                                    the task will be imported into a new tasklist named "ShoppingNew". 
                                </div>
                                <div class="comment medium-break">
                                    Note that no space is added, to allow direct concatenation. If you wish to have a space between the existing
                                    tasklist name and the suffix, then include that space in the start of the suffix field.
                                </div>
                                <div class="medium-break">
                                    NOTE: Google allows duplicate tasklists names. If a tasklist already exists with the new name (e.g., "ShoppingNew"),
                                    the import process will simply create another tasklist called "ShoppingNew", which will contain all the imported tasks
                                    that were in the "Shopping" tasklist. Existing tasklists will not be altered.
                                </div>
                            </div>
