                            <img class="popupTrigger" id="help-SKIP_DUPLICATE_TASKLIST" src="/static/help.png" alt="Display help">
                            <div class="popupContent" id="help-SKIP_DUPLICATE_TASKLIST-content">
                                <img class="popupClose" src="/static/close.png" alt="Close">
                                <div class="clear break">
                                    Tasks will only be imported for tasklists that do NOT exist.
                                    <div class="comment medium-break">
                                        Note that any tasks allocated to the @default tasklist will be added to existing tasks in the default tasklist.
                                    </div>
                                </div>
                                <div class="break">
                                    For each tasklist in the imported data;
                                    <ul>
                                        <li>
                                            If a tasklist exists with the same name as the task to be imported, skip importing for that tasklist. 
                                            That is, do not import tasks for a tasklist if a tasklist with that name already exists. 
                                        </li>
                                        <li>
                                            If the tasklist does not exist, create a new tasklist containing only the imported tasks.
                                        </li>
                                    </ul>
                                </div>
                            </div>
