                            <img class="popupTrigger" id="help-REPLACE_TASKLIST_CONTENT" src="/static/help.png" alt="Display help">
                            <div class="popupContent" id="help-REPLACE_TASKLIST_CONTENT-content">
                                <img class="popupClose" src="/static/close.png" alt="Close">
                                <div class="clear medium-break">
                                    For each tasklist in the imported data;
                                    <ul class="no-bullets">
                                        <li>
                                            If a tasklist with the same name exists, delete the existing tasklist (and all the tasks in it).
                                            <div class="comment medium-break">
                                                Note that if multiple tasklists exist with the same name, only ONE of those tasklists will be deleted.
                                                There may therefore still be multiple tasklists with the same name after the import.
                                            </div>
                                        </li>
                                        <li>
                                            Create a new tasklist containing only the imported tasks.
                                            <div class="comment medium-break">
                                                <span style="color:orange;">NOTE:</span> Google does not allow the default tasklist to be deleted, so any tasks allocated to the @default tasklist will be added to existing tasks in the default tasklist.
                                            </div>
                                            <div class="comment medium-break">
                                                The default tasklist is usually named <span class="fixed-font smaller-font">"Default List"</span> or
                                                <span class="fixed-font smaller-font">"My&nbsp;&lt;AccountName&gt;&nbsp;list"</span>, 
                                                but can have any name. It is not necessarily the first tasklist in the list of tasklists.
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
