                    <img class="popupTrigger" id="help-IMPORT_AS_IS" src="/static/help.png" alt="Display help">
                    <div class="popupContent" id="help-IMPORT_AS_IS-content">
                        <img class="popupClose" src="/static/close.png" alt="Close">
                        <div class="clear">
                            For each tasklist in the imported data, create a new tasklist containing the imported tasks for that tasklist.
                        </div>
                        <div class="medium-break">
                            NOTE: Google allows duplicate tasklists names. If a tasklist already exists with the same name as an imported tasklist, the import process will simply create a new tasklist with the same name. Existing tasklists will not be altered. The net result will be two tasklists with the same name; one with the existing tasks, and one with the imported tasks.
                        </div>
                    </div>
