        <div class="take-note-para warning-box">
            <p class="take-note-larger">
                <b>
                    NOTICE: Tasks imported using GTI are not displayed on Google Calendar
                </b>
            </p>
            <p>
                Since 31 May, imported tasks appear in the Google Tasks side panel in Gmail and Google Calendar, but do not appear at the top of Google Calendar.
            </p>
            <p style="margin-bottom: 3px;">
                Only tasks created or edited in the Tasks side panel will appear on the Google Calendar. An imported task will only appear on Google Calendar if the due date of the imported task is changed in the Tasks side panel.
            </p>
            <p style="margin-bottom: 3px;">
                This is a Google issue, and appears to affect any third party applications which import or manage Google Tasks, such as CalenGoo for Android.
            </p>
            <p style="margin-bottom: 3px;">
                The issue has been reported to Google at <a href="https://issuetracker.google.com/issues/133809207">https://issuetracker.google.com/issues/133809207</a>
            </p>
            <p style="margin-bottom: 3px;">
                Please go to the <a target="_blank" href="https://issuetracker.google.com/issues/133809207">the issue page</a> (opens in a new tab) and click on the star to let Google know that you are affected by this issue. If you click on the star, you will receive an email whenever the issue is updated.
            </p>
        </div>
